@font-face {
    font-family: "Franklin Gothic";
    src:url("Fonts/FranklinGothic.ttf") format("truetype");
}

@font-face {
    font-family: "Georgia";
    src:url("Fonts/Georgia.ttf") format("truetype");
}

@font-face {
    font-family: "Impact1";
    src:url("Fonts/Impact.ttf") format("truetype");
}

body{
    font-family: "Franklin Gothic", "Georgia", "Impact1";
}

h3 {
    text-align: center;
}

#banner {
    
    width:1220px;
    height:200px;
    background-color:black;
    margin: 0 auto;
    position:relative;
}

.banner {
    width: 1020px;
    height: 200px;
    float: right;
    align-items: center;
    margin: 0 auto;
}


.banner-text {
    font-family: "Impact1";
    font-size: 3em;
    color: white;
    padding-top: 70px; 
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.contact-text {
    position: absolute;
    font-family: "Franklin Gothic";
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 1.2em;
}

.logo {
    height: 200px;
    width: 200px; 
    overflow: hidden; 
    margin:0 auto;
    position:relative;
    padding-left: 50px;
    float:left;
    background-repeat:no-repeat;
  }
  
  .logo img {
    height: auto;
    display: block;
    width: 100%;
    float:left;
    justify-content: start;
    box-sizing:border-box;
    margin: 0 auto;
    position:relative;
    overflow: hidden;
  }

.logo:hover img {
    opacity:0%;
    justify-content: start;
    overflow: hidden;
    box-sizing:border-box;
    margin: 0 auto;
    position:relative;
  }

.logo:hover {        
    background-image: url(Images/Pic/logo.gif);
    background-size: 80%;
    background-position:right top;
    padding-left: 50px;
  }

  .text {
    color:white;
    font-size: 15pt;
    align-items:center;
    padding: 60pt;
  }

.banner-text {
    font-size: 3em;
    font-weight: bold;
    color: white;
    padding-left: 30px; 
    display: flex;
    align-items: center;
}


.contact-text {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 1.2em;
    font-family: "Georgia";
}

.button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.button img {
    transition: transform 0.5s ease;
}

.button:hover img {
    transform: scale(1.1);
}


#gender {
    width:1220px;
    height:700px;
    background-color: #DAAA00;
    justify-content: start;
    box-sizing:border-box;
    margin: 0  auto;
    position:relative;
}
#F {
    width:290px;
    height: 70px;
    float:left;

    margin-right: 20px;
    justify-content: start;
    box-sizing:border-box;
    position:relative;
    text-align: center;
}
#M {
    width:290px;
    height: 70px;
    float:left;
    margin-right: 20px;
    justify-content: start;
    box-sizing:border-box;
    position:relative;
    text-align: center;
}
#Co {
    width: 600px;
    height: 70px;
    float: right;
    justify-content: start;
    box-sizing:border-box;
    margin: 0 auto;
    position:relative;
    text-align: center;
}
#female {
    width: 290px;
    height: 620px;
    background-color: white;
    float: left;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 15px;
    justify-content: start;
    box-sizing:border-box;
    position:relative;
}


#male {
    width:290px;
    height: 620px;
    background-color:white;
    float:left;
    border-radius: 10px;
    margin-right: 15px;
    justify-content: start;
    box-sizing:border-box;
    position:relative;
}

#co-ed {
    width: 590px;
    height: 620px;
    background-color:white;
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    max-width: 100%;
    float: left;
    margin-right: 5px;
    justify-content: start;
    box-sizing:border-box;
    margin: 0 auto;
    position:relative;
}

#image-container {
    height: 150px;
    width: 250px; 
    overflow: hidden; 
    padding: 20px;
    justify-content: start;
    position:relative;
  }
  
  #image-container img {
    height: auto;
    display: block;
    width: 100%;
    transition: transform 0.5s ease;
    justify-content: start;
    box-sizing:border-box;
    margin: 0 auto;
    position:relative;
  }

#image-container:hover img {
    transform: scale(1.1); 
    justify-content: start;
    box-sizing:border-box;
    margin: 0 auto;
    position:relative;
  }

  
